fastapi
uvicorn
python-dotenv
groq
slowapi
passlib[bcrypt]
python-jose
sentence-transformers
torch>=2.6.0
chromadb
numpy<2.0
pypdf
pdf2image
pillow
pytesseract
python-pptx
openai-whisper
python-multipart
